@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --darkgrey: #212427;
    --dark: #102F58;
    --medium: #1E4C86;
    --light: #6AA8C3;
    --lighthover: #9ec4d4;
}

/************* fonts **************/
/* base font size: 16px, type scale: minor third, line height: 1.5, vertical spacing: multiples of 24 (16x1.5=24) */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 19.2px;
    color: var(--darkgrey);
    line-height: 1.5;
}

p {
    margin-bottom: 1.5rem;
}

h2:not(.login-form h2, .registration-form h2, .update-password-form h2, .update-profile-form h2) {
    font-size: 47.78px;
    color: #FFF;
}

h3 {
    font-size: 33.18px;
    color: var(--dark);
    margin-bottom: 0.75rem;
}

h4 {
    font-size: 27.65px;
    color: var(--dark);
    margin-bottom: 0.2rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', cursive;
}

.event-text p:first-of-type {
    font-weight: bolder;
}

/*************** header *****************/
header {
    background-color: var(--dark);
    position: sticky;
    top: calc(100vh - 117px);
    z-index: 2;
}

.logo {
    width: 105px;
    height: 85px;
}

body svg {
    display: inline-block;
}

body nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.logout-form {
    margin: 0;
}

.inner-nav {
    padding: 1rem 0.75rem;
    width: 100%;
}

.hamburger-menu {
    width: 4.5rem;
    padding: 0.75rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    background-color: #FFF;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
}

.hamburger-menu span:not(.hamburger-menu span:last-of-type) {
    margin-bottom: 0.5rem;
}

.hamburger-open {
    border: 2px solid white;
}

nav:not(.pagination nav) {
    position: absolute;
    background-color: var(--medium);
    bottom: 117px;
    width: 100%;
}

nav:not(.pagination nav) a {
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--dark);
    text-transform: uppercase;
    font-size: 0.875rem;
}

nav svg:not(.pagination svg) {
    margin-left: 1rem;
    width: 0.875rem;
    height: 0.875rem;
    fill: white;
}

nav > .secondary-header > div > a,
nav > .secondary-header > div > form a {
    background-color: var(--dark);
    border-bottom: 3px solid var(--medium);
}

/**************** body *****************/
body svg {
    display: inline-block;
}

body a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

main {
    margin-top: -146px; /* header height still takes up space at the top of the page, even though it is "stuck" to the bottom. This fixes it. */
}

section {
    margin-bottom: 6rem;
}

.inner-container {
    padding: 0rem 1rem;
}

.text-border {
    border: 2px solid var(--medium);
}
/*************** buttons ***************/
.light-btn,
.dark-btn {
    padding: 8px 16px 8px 16px;
    font-weight: bold;
    border-radius: 0.7rem;
    box-sizing: border-box;
    text-transform: uppercase;
}

.light-btn {
    background-color: var(--light);
}

.light-btn:hover {
    background-color: var(--lighthover);
    color: var(--medium);
}

.dark-btn {
    background-color: var(--medium);
    border: 3px solid transparent;
}

.dark-btn:hover {
    background-color: #FFF;
    border: 3px solid var(--medium);
    color: var(--medium);
}


/************** home page *************/
.home-banner {
    background-image: url('../../public/img/skyscrapers.webp');
}

hr {
    border: 1px solid lightgrey;
}

.event-img {
    margin-bottom: 1.5rem;
}

.sponsors {
    background-color:var(--light);
}

.sponsors-slider {
    display: grid;
    position: relative;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(175.99px * 6);
    gap: 2rem;
    animation: scroll 12s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    display: flex;
    align-items: center;
}

.bio-input {
    min-height: 4rem;
    max-height: 16rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-175.99px * 3));
    }
}

/*********** membership info page *********/
.membership {
    background-color: var(--light);
}

.membership-text {
    padding-top: 4.5rem;
}

.membership-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.membership-img-top {
    grid-column: 2 / span 8;
    grid-row: 1;
    padding-top: 40%;
    z-index: 1;
}

.membership-img-bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}

/*********** sponsors page ***********/
.sponsors-banner {
    background-image: url('../../public/img/building-edge.webp');
}

.sponsor-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsor-card div {
    margin-bottom: 48px;
}

.search-filter-wrapper {
    gap: 4rem;
}

/******** member directory page ******/
.member-directory-banner {
    background-image: url('../../public/img/audience.webp');
}

.member-card {
    gap: 2rem;
    padding: 1.5rem;
    max-width: 34rem;
}

/************ resources  ***********/
.resources-banner {
    background-image: url('../../public/img/books.webp');
}

.category li a {
    color: var(--darkgrey);
}

.links-text section {
    margin-bottom: 3rem;
}

.resources-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.resources-img-top {
    grid-column: 3 / span 8;
    grid-row: 1;
    padding-top: 50%;
    z-index: 1;
}

.resources-img-bottom {
    grid-column: 6 / -1;
    grid-row: -1;
}

.resources-text {
    padding-top: 3rem;
}

.latest-publications div {
    flex-basis: 24%;
}

.publications-btn {
    margin: 0 auto;
    display: block;
    text-align: center;

}

/************** events **************/
.events-banner {
    background-color: var(--light);
    height: 22rem;
    margin-bottom: 20rem;
}

.events-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.events-img-top {
    grid-column: 2 / span 8;
    grid-row: 1;
    padding-top: 40%;
    z-index: 1;
    max-width: 70%;
}

.events-img-bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    padding-top: 8%;
}

.events-text {
    padding-top: 3rem;
}

/************ about page ************/
.about-banner {
    background-image: url('../../public/img/walterdale-bridge.webp');
}

.about-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.about-img-top {
    grid-column: 1 / span 10;
    grid-row: 1;
    padding-top: 55%;
    z-index: 1;
    max-width: 70%;
}

.about-img-bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}

.vision-bg {
    background-image: url('../../public/img/writing-working.webp');
}

.vision-statement {
    background-color: var(--light);
    padding: 3rem;
}

/************** committees **************/
.committees-banner {
    background-image: url('../../public/img/committee.webp');
}

/******** board of directors page ********/
.directors-banner {
    background-image: url('../../public/img/work-meeting.webp');
}

/*********** contact page ***********/
.contact-banner {
    background-image: url('../../public/img/using-phone.webp');
}

.get-in-touch {
    background-color: var(--light);
}

.contact-form {
    background-color: #1E4C86;
}

.get-in-touch {
    padding: 4.5rem 0;
}

/************** footer **************/
footer {
    background-color: var(--medium);
}

.newsletter {
    background-color: var(--light);
    color: #fff;
    max-width: 620px;
}

.newsletter input {
    border-radius: 0.7rem;
}

.footer-btn {
    margin-top: 1.6rem;
    padding: 6px 14px 6px 14px;
    font-weight: bold;
    border-radius: 0.7rem;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: var(--medium);
    border: 1px solid transparent;
}

/********** media queries ************/

@media screen and (min-width: 768px) {
    header {
        position: unset;
        top: unset;
        z-index: unset;
        margin-top: 45px;
    }

    .hamburger-menu {
        display: none;
    }

    .outer-nav {
        padding: 0.75rem 1.25rem;
    }

    .inner-nav {
        width: unset;
        padding: unset;
    }

    nav:not(.pagination nav) {
        position: unset;
        width: unset;
        background-color: unset;
    }

    nav svg:not(.pagination svg) {
        display: none;
    }

    nav:not(.pagination nav) a {
        padding: 0.75rem 0;
        border-bottom: 0;
    }

    nav a:hover {
        text-decoration: underline;
    }

    nav > ul,
    .secondary-header > div {
        display: flex;
        gap: 1rem;
    }

    nav ul li:has(ul) {
        position: relative;
    }

    nav ul ul {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        background-color: var(--medium);
    }

    nav > ul > li:hover > ul {
        max-height: unset;
        overflow: unset;
    }

    nav .member-info-dropdown {
        left: -18%; /* estimate */
    }

    nav .about-dropdown {
        left: -77%; /* estimate */
    }

    nav:not(.pagination nav) ul ul a {
        width: 12rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-align: center;
    }

    .secondary-header {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        background-color: var(--medium);
        color: white;
        display: flex;
        justify-content: right;
        gap: 1.5rem;
    }

    nav > .secondary-header > div > a,
    nav > .secondary-header > div > form a {
        padding: 0.75rem 0;
        width: unset;
        background-color: var(--medium);
        border-bottom: 0;
    }

    .secondary-header a:hover {
        text-decoration: underline;
    }

    .secondary-header > div {
        padding: 0rem 1.25rem;
    }

    /**************** main ****************/
    main {
        margin-top: unset;
    }

    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .welcome-text {
        width: 55%;
    }

    .event {
        display: flex;
        gap: 4rem;
    }

    .event-img {
        max-width: 375px;
        margin-bottom: 0;
    }

    .event div {
        width: calc(100vw/2);
    }

    /********** membership info page *********/
    .membership {
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 4.5rem 0 9rem 0;
        height: 28.5rem;
    }

    .membership-text {
        flex-basis: 50%;
    }

    .membership-img {
        flex-basis: 50%;
    }

    /************** sponsors page **********/
    .board-of-directors {
        display: flex;
    }

    /************** resources page **********/
    .links {
        display: flex;
        justify-content: space-between;
    }

    .latest-publications div img {
        max-width: 15rem;
    }

    /***************** events page ***************/
    .events-banner {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 4.5rem;
        margin-bottom: 0;
    }

    .events-text {
        max-width: 50%;
        padding-top: 0;
    }

    /*************** about us page *************/
    .about {
        display: flex;
        gap: 4rem;
    }

    .about-img-bottom {
        padding-top: 18%;
    }

    .about-text {
        max-width: 50vw;
    }

    /********* board of directors page *********/


    /***************** footer ***************/
    .footer-links {
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    .socials-newsletter {
        display: flex;
        align-items: center;
        margin-top: 2.5rem;
        justify-content: space-between;
        gap: 2rem;
    }

    .social-icons {
        width: 30%;
    }

    .newsletter {
        width: 70%;
    }

    .newsletter-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 1020px) {
    header {
        margin-top: 51px;
    }

    nav:not(.pagination nav) a {
        font-size: 1.125rem;
    }

    nav > ul,
    .secondary-header > div {
        gap: 2.5rem;
    }

    nav .member-info-dropdown {
        left: -20%; /* estimate */
    }

    nav .about-dropdown {
        left: -82%; /* estimate */
    }

    nav:not(.pagination nav) ul ul a {
        width: 16rem;
    }
}

@media screen and (min-width: 1092px) {
    .slide-track {
        animation: none;
    }

}

@media screen and (min-width: 1400px) {
    .outer-nav,
    .registration-form,
    .login-form,
    .forgot-password-form,
    .inner-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .membership-text {
        padding-top: 1rem;
    }

    .our-vision {
        margin: 6rem auto;
    }

    .secondary-header > div {
        width: 1400px;
        margin: 0 auto;
        text-align: right;
    }
}
