@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #102F58;
    --medium: #1E4C86;
    --light: #6AA8C3;
}

/* fonts */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 19.2px;
}

h1 {
    font-size: 47.78px;
}

h2 {
    font-size: 33.18px;
}

h3 {
    font-size: 27.65px;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
}

/* header */
header {
    background-color: var(--dark);
    position: sticky;
    top: calc(100vh - 89px);
    z-index: 1;
}

.logout-form {
    margin: 0;
}

.inner-nav {
    padding: 1rem 0.75rem;
    width: 100%;
}

/* !TESTING PURPOSES */
.logo img {
    width: 50%;
}

.hamburger-menu {
    width: 4.5rem;
    padding: 0.75rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    background-color: #FFF;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
}

.hamburger-menu span:not(.hamburger-menu span:last-of-type) {
    margin-bottom: 0.5rem;
}

.hamburger-open {
    border: 2px solid white;
}

nav {
    position: absolute;
    background-color: var(--medium);
    top: -571%;
    width: 100%;
}

nav a {
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid var(--dark);
    text-transform: uppercase;
    font-size: 0.875rem;
}

nav svg {
    margin-left: 1rem;
    width: 0.875rem;
    height: 0.875rem;
    fill: white;
}

.secondary-header a {
    background-color: var(--dark);
    border-bottom: 4px solid var(--medium);
}

/* body */
body svg {
    display: inline-block;
}

body a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

main {
    margin-top: -89px; /* header height still takes up space at the top of the page, even though it is "stuck" to the bottom. This fixes it. */
}

.inner-container {
    padding: 1rem 0.75rem;
}

/* media queries */
@media screen and (min-width: 768px) {
    header {
        position: unset;
        top: unset;
        z-index: unset;
        margin-top: 45px;
    }

    .hamburger-menu {
        display: none;
    }

    .outer-nav {
        padding: 0.75rem 1.25rem;
    }

    .inner-nav {
        width: unset;
        padding: unset;
    }

    nav {
        position: unset;
        width: unset;
        background-color: unset;
    }

    nav svg {
        display: none;
    }

    nav a {
        padding: 0.75rem 0;
        border-bottom: 0;
    }

    nav a:hover {
        text-decoration: underline;
    }

    nav > ul,
    .secondary-header > div {
        display: flex;
        gap: 1rem;
    }

    nav ul li:has(ul) {
        position: relative;
    }

    nav ul ul {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        background-color: var(--medium);
    }

    nav > ul > li:hover > ul {
        max-height: unset;
        overflow: unset;
    }

    nav .member-info-dropdown {
        left: -18%; /* estimate */
    }

    nav .about-dropdown {
        left: -77%; /* estimate */
    }

    nav ul ul a {
        width: 12rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-align: center;
    }

    .secondary-header {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        background-color: var(--medium);
        color: white;
        display: flex;
        justify-content: right;
        gap: 1.5rem;
    }

    .secondary-header a {
        padding: 0.75rem 0;
        width: unset;
        background-color: var(--medium);
        border-bottom: 0;
    }

    .secondary-header a:hover {
        text-decoration: underline;
    }

    .secondary-header > div {
        padding: 0rem 1.25rem;
    }

    main {
        margin-top: unset;
    }
}

@media screen and (min-width: 1020px) {
    header {
        margin-top: 51px;
    }

    nav a {
        font-size: 1.125rem;
    }

    nav > ul,
    .secondary-header > div {
        gap: 2.5rem;
    }

    nav .member-info-dropdown {
        left: -20%; /* estimate */
    }

    nav .about-dropdown {
        left: -82%; /* estimate */
    }

    nav ul ul a {
        width: 16rem;
    }
}

@media screen and (min-width: 1400px) {
    .outer-nav,
    main {
        max-width: 1400px;
        margin: 0 auto;
    }

    .secondary-header > div {
        width: 1400px;
        margin: 0 auto;
        text-align: right;
    }
}
